services:
  kroki:
    image: yuzutech/kroki
    ports:
      - "8000:8000"
    environment:
      - KROKI_PLANTUML_HOST=plantuml
      - KROKI_MERMAID_HOST=mermaid
    depends_on:
      - plantuml
      - mermaid

  plantuml:
    image: plantuml/plantuml-server:jetty
    expose:
      - "8080"

  mermaid:
    image: yuzutech/kroki-mermaid
    expose:
      - "8002"
